@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::before, *::after{
  padding: 0;
  margin: 0;
}

:root{
  --lightblack: #6f7b90;
  --white: #ffffff;
  --lightbshadow: rgba(0,0,0,0.15);
  --lightgrey: #f7f7f7;
  --black: #000000;
  --grey: #cccccc;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.music_container{
    width: 100%;
    padding-bottom: 50px;
}

.topBar-bg{
    background-color: var(--lightgrey);
}

.header_box{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.header_box h1{
    font-weight: 400;
    font-size: 1.5rem;
}

.nav_box{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.nav_box ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
    font-size: .5rem;
    color: var(--lightblack)
}

.nav_box ul a{
  text-decoration: none;
  color: var(--lightblack);
}

.nav_box ul li{
    cursor: pointer;
}

.nav_box ul li:hover{
    color: var(--black);
}

#menu{
  display: none;      
}

.image{
  width:100px;
  height:50px;
}

.image img{
    width: 100%;
    height: 50px;

}

/* controls */

.Player_box{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom:5px;
    width:100%;
}

.player_box_bg{
  width: 370px;
  height: 50px;
  display: flex;
  background-color: var(--white);
  box-shadow: 0px 0px 8px 3px #00000025;
  margin-bottom: 5px;
}

.title-playbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.controls{
    display: flex;
    align-items: center;
}

.controls .play-pause{
    display: flex;
    cursor: pointer;
    align-items: center;
    border: var(--black);
  }

  .play-pause::before{
    position: absolute;
    content: "";
  }
  .play-pause i{
    -webkit-text-fill-color: var(--black);
    font-size: 1rem;
  }

  .play-pre-next{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .play-pre-next i{
    font-size: 1rem;
    cursor: pointer;
  }

  .close{
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .close i{
    font-size: .8rem;
    cursor: pointer;
  }

  .slider{
    transform: translate(-45%, 0%) rotate(-90deg);
    position: absolute;
    bottom: 110px;
    background-color: var(--white);
    box-shadow: 0px 1px 8px #0000001f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }


  .slider.active{
    transform: translate(-45%, 0%) rotate(-90deg);
    position: absolute;
    bottom: 110px;
    background-color: var(--white);
    box-shadow: 0px 1px 8px #0000001f;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 1;
  }

  #volume_slider{
    width: 80%;
    height: 25px;
  }

  #volume_slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
  }

  /* title-progress */

  .title-progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
  }

  .title-progress .music_title{
    display: flex;
  }

  .title-progress .music_title h3{
    font-size: .5rem;
    font-weight: 500;
  }

  .title-progress p{
    font-size: .5rem;
  }

  .progress-box{
    width: 370px;
    position: absolute;
    bottom:53px;
  }

  /* .progress-box i{
    font-size:.6rem;
    margin-left: 15px;
    cursor: pointer;
  } */

  .progress-area{
    height: 3px;
    width: 100%;
    border-radius: 50px;
    background: var(--grey);
    cursor: pointer;
    display: flex;
  }

  .progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: var(--black);
  }

  .progress-bar::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
  }

  .progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
  }

  .song-timer{
    display: flex;
    margin-left: 15px;
  }

  .song-timer span{
    font-size: .5rem;
  }

  .musicList_box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .musicList_box ul{
    width: 100%;
  }

  .musicList_box ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--grey);
    cursor: pointer;
  }

  .musicList_box span{
    font-size: .6rem;
  }

  .musicList_bg {
    width: 60%;
    display: flex;
  }


  /* downloads */
  .download_box{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .download_box_bg{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .download_box h3{
    font-size: 2rem;
    font-weight: 500;
  }

  .download_box p{
    font-size: .5rem;
  }


  /* media */

  @media screen and (max-width: 600px) {

    .topBar-bg{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      margin-bottom: 15px;
    }

    .header_box{
      padding: 50px 0;
      display: flex;
      justify-content: center;
    }
  
    .header_box h1{
        font-weight: 400;
        font-size: 1rem;
    }

    #menu{
      display: block;
      cursor: pointer;      
    }

    .nav_box{
      padding: 30px 0;
      z-index: 10;
      background-color: var(--lightgrey);
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 130px;
      left: 0;
      display: none;
    }

    .nav_box.active{
      padding: 30px 0;
      z-index: 10;
      background-color: var(--white);
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 130px;
      left: 0;
      display: block;
    }
    
    .nav_box ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        gap: 30px;
        font-size: .6rem;
        color: var(--lightblack);
        text-align: center;
    }

    /* mobile playerSection-none*/
    

    /* downloads */
    .download_box{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .download_box_bg{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    /* playlist */

    .musicList_bg {
      width: 80%;
      display: flex;
    }

    .slider{
      transform: translate(-45%, 0%) rotate(-90deg);
      position: absolute;
      bottom: 100px;
      background-color: var(--white);
      box-shadow: 0px 1px 8px #0000001f;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
    }
  
    .slider.active{
      transform: translate(-45%, 0%) rotate(-90deg);
      position: absolute;
      bottom: 100px;
      background-color: var(--white);
      box-shadow: 0px 1px 8px #0000001f;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      opacity: 1;
      width: 100px;
    }

    #volume_slider{
      width: 80%;
      height: 25px;
    }
  
    #volume_slider::-moz-range-thumb{
      width: 25px;
      height: 25px;
    }

}
/* sticky */
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .musicList_box {
  padding-top: 130px;
}



    






